# Packages required to run 
librosa==0.10.1
praat-parselmouth==0.4.3
streamlit==1.29.0
scikit-learn==1.3.2
streamlit-webrtc==0.47.1 # record audio files
dnspython==2.0.0
pydub==0.25.1 # audio manipulation
# azure-storage-blob==12.9.0 # packages for Azure storage
matplotlib==3.5.1

# heroku may need numpy to run, however adding it produces the error "Cannot install 'llvmlite'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall."