$textColor: #dddddd;
$buttonTextColor: #aaa;
$buttonTextTransform: uppercase;
$buttonTextHoverColor: #ddd;
$buttonColor: #333;
$buttonBorder: 1px solid #aaa;
$headerBackgroundColor: black;
$borderColor: 2px solid #dddddd;
$linkColor: #61dafb;

.App {
  text-align: center;
}

.app-container {
  color: $textColor;
  height: 100vh;
  width: 80vw;
	margin: auto;
	padding-right: 8em;
	padding-left: 8em;

	@media screen and (max-width: 800px) {
    padding: 0 2em;
  }

  button {
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 32px;
    display: inline-block;
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;

    color: $buttonTextColor;
    border: $buttonBorder; 
    border-color: $buttonTextColor;
    background-color: $buttonColor;
    text-transform: $buttonTextTransform;

    &:hover {
      color: $buttonTextHoverColor; 
      border-color: $buttonTextHoverColor;
      background-color: $buttonTextHoverColor;
    }
  }
  
  a {
    color: $linkColor;
  }

  .toHome {
    position: fixed;
    background-color: #000000;
    color: #FFFFFF;
    opacity: 0.60;
    cursor:pointer;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 2;
  
    &:hover { opacity: 1; }
  
    i {
      font-size: 2em;
      transform: translateY(25%);
    }
  }
}
