$backgroundColor: #262626;
$textColor: #dddddd;
$buttonTextColor: #aaa;
$buttonTextTransform: uppercase;
$buttonTextHoverColor: #ddd;
$buttonColor: #333;
$buttonBorder: 1px solid #aaa;
$headerBackgroundColor: black;
$borderColor: 2px solid #dddddd;
$linkColor: #61dafb;

.App {
  text-align: center;
}

.app-container {
  color: $textColor;
  background-color: $backgroundColor;

  .title {
    font-family: sans-serif;
    font-weight: lighter;
  }

  .button {
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 32px;
    display: inline-block;
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;

    color: $buttonTextColor;
    border: $buttonBorder; 
    border-color: $buttonTextColor;
    background-color: $buttonColor;
    text-transform: $buttonTextTransform;

    &:hover {
      color: $buttonTextHoverColor; 
      border-color: $buttonTextHoverColor;
      background-color: $buttonTextHoverColor;
    }
  }
  
  .heading {
    color: $textColor;
    background-color: $backgroundColor;
  }

  label {
    background-color: $backgroundColor;
  }
  
  a {
    color: $linkColor;
  }
}

.custom-control-label::before{
  color: $textColor;
}

.listItem {
  border-top: $buttonColor;
}

.header {
  background-color: $headerBackgroundColor;
}