.tableComponent {
	overflow: hidden;

	.main {
		.rightTitle {
			@media screen and (max-width: 800px) {
			  padding-left: 30px;
			}
		}
	}
}

.listItem {
	border-top: 2px solid black;
	padding: 10px 0px;

	.left {
		@media screen and (max-width: 800px) {
			font-weight: bold;
		}
	}
	.right {
		@media screen and (max-width: 800px) {
		padding-left: 30px;
		}
	}	
}
