$themes: (
  dark: (
    backgroundColor: 	#262626,
    textColor: #dddddd,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    headerBackgroundColor: black,
    borderColor: 2px solid #dddddd,
    linkColor: #61dafb,
  ),
  default: (
    headerBackgroundColor: #fff,
    borderColor: 2px solid #000000,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}